<clr-header class="header-6">
  <div class="branding">
    <a href="#" class="nav-link">
      <span class="clr-icon siltstride-logo"></span>
      <span class="title">Siltstride Admin</span>
    </a>
  </div>
  <div class="header-nav" [clr-nav-level]="1">
    <a
      [routerLink]="['/app/dashboard']"
      routerLinkActive="active"
      class="nav-link nav-text"
      >Dashboard</a
    >
    <a
      [routerLink]="['/app/dashboard/server']"
      routerLinkActive="active"
      class="nav-link nav-text"
      >Server</a
    >
  </div>
  <div class="header-actions">
    <a href="javascript://" class="nav-link nav-icon-text">
      <span
        class="clr-icon user-avatar"
        [style.background-image]="'url(' + (avatarUrl | async) + ')'"
        alt="avatar"
      ></span>
      <span class="nav-text"
        >{{ username | async }}#{{ discriminator | async }}</span
      >
    </a>
  </div>
</clr-header>
