//.blurred-background::before {
//  content: "";
//  position: fixed;
//  left: 0;
//  right: 0;
//  z-index: -1;
//  display: block;
//  // url must be called in scss template file.
//  // Inline scss template would not resolve image url.
//  background-image: url("../../../../assets/Fargoth.jpg");
//  background-repeat: no-repeat;
//  background-position: var(--mouseX) var(--mouseY);
//  background-size: auto 150%;
//  width: 100%;
//  height: 100%;
//  -webkit-filter: blur(5px);
//  -moz-filter: blur(5px);
//  -o-filter: blur(5px);
//  -ms-filter: blur(5px);
//  filter: blur(5px);
//}

.blurred-background {
  min-height: 100vh;
  background-image: url("~assets/Fargoth.jpg");
  background-repeat: no-repeat;
  background-position: var(--mouseX) var(--mouseY);
  background-size: auto 150%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  z-index: -1;
}
