:host {
  --mouseX: 50%;
  --mouseY: 50%;
}

.login-wrapper {
  min-height: 100vh;
  background-image: url("~assets/Fargoth.jpg");
  background-repeat: no-repeat;
  background-position: var(--mouseX) var(--mouseY);
  background-size: auto 150%;
}
